.main_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color: #222c3c;
    padding: 35px 30px 20px;
    overflow-y: auto;
}

.main_menu_listGroup,
.main_menu_monthGoalBar {
    width: 100%;
}

.main_menu_listBox {
    margin-top: 25px;
    border-bottom: 1px solid #404b5b;
}

.main_menu_listBox:first-of-type {
    margin-top: 0px;
}

.main_menu_listBox_titleBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 25px;
}

.main_menu_listBox_title {
    color: #404b5b;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
}

.main_menu_listBox_list {
    list-style: none;
}

.main_menu_listBox_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.main_menu_listBox_itemLink {
    text-decoration: none;
    color: #a3acba;
    transition: color 200ms;
}

.main_menu_listBox_itemLink:hover {
    color: #fff;
}

.main_menu_listBox_itemPop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 24px;
    border-radius: 13px / 10px;
    background-color: #249af2;
    font-size: 14px;
}

.main_menu_listBox_itemAlert {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #f35337, #cd290c);
}

.main_menu_monthGoalBar_wordsGroup {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 16px;
    color: #a3acba;
}

.main_menu_monthGoalBar_progressBar {
    height: 5px;
    background-color: #2d3848;
    border-radius: 2.5px;
    overflow: hidden;
}

.main_menu_monthGoalBar_progress {
    width: 16.6%;
    height: 100%;
    background: linear-gradient(to right, #805de6, #9c8de3);
}

h