* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1600;
    font-family: "Myriad Pro";
    font-size: 20px;
    color: #fff;
    margin: 0 auto;
}

.mainSection--1 {
    position: relative;
    background-image: url(./imgs/bg1.png);
    background-repeat: no-repeat;
    height: 990px;
}

.mainSection--1__content {
    display: flex;
    position: relative;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.mainSection--1__cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
}

.mainSection--1__title {
    font-size: 62px;
    font-weight: normal;
    margin-top: 210px;
}

.mainSection--1__sentence {
    width: 730px;
    text-align: center;
    margin-top: 86px;
    line-height: 27px;
    color: #d0d0cf;
}

.mainSection--1__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 970px;
    height: 250px;
    border: 1px solid rgba(89, 85, 81, 0.5);
    margin-top: 106px;
}

.mainSection--1__form__title {
    font-size: 16px;
    margin-top: 62px;
}

.mainSection--1__form__sentence {
    font-size: 12px;
    color: #817f7e;
    margin-top: 20px;
}

.mainSection--1__form__body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 46px;
    border-radius: 2px;
}

.mainSection--1__form__body__inputText {
    width: 290px;
    height: 48px;
    border: 1px solid #5b5653;
    border-radius: 2px;
    background-color: transparent;
    padding-left: 20px;
    margin-right: 30px;
    color: #fff;
}

.mainSection--1__form__body__submit {
    width: 126px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 400ms;
}

.mainSection--1__form__body__submit:hover {
    background-color: #ddd;
}


/* section 2 */

.mainSection--2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 710px;
    background-color: #fff;
    color: #000;
}

.mainSection--2__title {
    font-size: 42px;
    font-weight: normal;
    width: 770px;
    text-align: center;
    margin-top: 40px;
}

.mainSection--2__sentence {
    font-size: 14px;
    margin-top: 90px;
}

.mainSection--2__featureGroup {
    margin-top: 88px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1022px;
}

.mainSection--2__featureGroup__feature {
    width: 49%;
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 82px;
}

.mainSection--2__featureGroup__feature:nth-of-type(2n+1) {
    padding-right: 60px;
}

.mainSection--2__featureGroup__feature:nth-of-type(2n) {
    padding-left: 60px;
}

.mainSection--2__featureGroup__feature__icon {
    flex: 0 0 auto;
    height: 50px;
}

.mainSection--2__featureGroup__feature__content {
    width: 380px;
    margin-left: 28px;
}

.mainSection--2__featureGroup__content__feature__title {
    margin-bottom: 27px;
    font-weight: normal;
}

.mainSection--2__featureGroup__content__feature__sentence {
    font-size: 16px;
}


/* section 3 */

.mainSection--3 {
    height: 800px;
    position: relative;
    background-image: url(./imgs/bg2.png);
    background-repeat: no-repeat;
}

.mainSection--3__cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
}

.mainSection--3__bgImg {
    position: absolute;
    right: 0;
    top: 105px;
    z-index: 2;
}

.mainSection--3__content {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    height: 100%;
    margin-left: 318px;
}

.mainSection--3__title {
    width: 342px;
    margin-top: 183px;
    font-size: 40px;
    font-weight: normal;
}

.mainSection--3__sentence {
    width: 370px;
    margin-top: 99px;
}

.mainSection--3__btnGroup {
    display: flex;
    margin-top: 60px;
}

.mainSection--3__btnGroup__btn1,
.mainSection--3__btnGroup__btn2 {
    width: 240px;
    height: 60px;
    border: 1px solid #fff;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 400ms;
}

.mainSection--3__btnGroup__btn1 {
    margin-right: 30px;
}

.mainSection--3__btnGroup__btn1:hover {
    background-color: #ddd;
}

.mainSection--3__btnGroup__btn2 {
    background-color: transparent;
    color: #fff;
}

.mainSection--3__btnGroup__btn2:hover {
    background-color: rgba(0, 0, 0, 0.3);
}


/* sectionn 4 */

.mainSection--4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 580px;
    color: #000;
    border-bottom: 1px solid #ccc;
}

.mainSection--4__title {
    font-size: 42px;
    font-weight: normal;
    margin-top: 100px;
}

.mainSection--4__paraGroup {
    display: flex;
    width: 960px;
    margin-top: 94px;
}

.mainSection--4__paraGroup__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.mainSection--4__paraGroup__column__titleImg {
    height: 38px;
    margin-bottom: 40px;
}

.mainSection--4__paraGroup__column__sentence {
    text-align: center;
    color: #797979;
}


/* section 5 */

.mainSection--5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    color: #000;
    padding-top: 114px;
    border-bottom: 1px solid #ccc;
}

.mainSection--5__column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 974px;
}

.mainSection--5__column:first-of-type {
    margin-bottom: 78px;
}

.mainSection--5__column__imgBox {
    width: 570px;
    height: 350px;
    flex: 0 0 auto;
    overflow: hidden;
}

.mainSection--5__column__img {
    width: 570px;
}

.mainSection--5__column__content {
    width: 314px;
}

.mainSection--5__column__content__sentence {
    font-size: 16px;
    color: #797979;
    margin-top: 38px;
}

.mainSection--5__column__content__title {
    font-weight: normal;
}


/* section 6 */

.mainSection--6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1084px;
    color: #000;
    border-bottom: 1px solid #ccc;
}

.mainSection--6__title {
    margin-top: 102px;
    font-size: 42px;
    font-weight: normal;
    line-height: 42px;
}

.mainSection--6__sentence {
    font-size: 18px;
    color: #797979;
    width: 704px;
    text-align: center;
    line-height: 24px;
    margin-top: 30px;
}

.mainSection--6__photoGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 68px;
    width: 1000px;
}

.mainSection--6__photoGroup__cell {
    width: 470px;
    height: 340px;
    overflow: hidden;
    flex: 0 0 auto;
    margin: 0 15 30px;
    position: relative;
}

.mainSection--6__photoGroup__cell__photo {
    width: 100%;
}

.mainSection--6__photoGroup__cell__cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    transition: opacity 400ms;
    cursor: pointer;
    z-index: 1;
}

.mainSection--6__photoGroup__cell__cover:hover {
    opacity: 0.5;
}


/* .mainSection--6__photoGroup__cell__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
} */


/* section 7 */

.mainSection--7 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 700px;
    color: #000;
    margin-top: 74px;
}

.mainSection--7__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 966px;
    height: 560px;
    ;
}

.mainSection--7__form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 468px;
    height: 100%;
    padding: 48px;
}

.mainSection--7__form__title {
    text-align: center;
    margin-bottom: 30px;
}

.mainSection--7__form__inputText,
.mainSection--7__form__textArea {
    border: 1px solid #ccc;
    margin-bottom: 30px;
    padding-left: 22px;
}

.mainSection--7__form__inputText {
    height: 50px;
}

.mainSection--7__form__textArea {
    padding-top: 22px;
    resize: none;
}

.mainSection--7__form__submit {
    height: 50px;
    background-color: #000;
    border: none;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: lighter;
    cursor: pointer;
    transition: background-color 400ms;
}

.mainSection--7__form__submit:hover {
    background-color: #333;
}

.mainSection--7__contact {
    width: 450px;
}

.mainSection--7__contact__title {
    font-size: 42px;
    font-weight: lighter;
    margin-bottom: 40px;
}

.mainSection--7__contact__sentence {
    margin-bottom: 40px;
    color: #797979;
    font-size: 18px;
}

.mainSection--7__contanct__contactList__cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 36px;
}

.mainSection--7__contact__sentence__contactList__icon {
    margin-right: 15px;
}

.mainSection--7__contanct__contactList__cell>a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.mainSection--7__contanct__contactList__cell>a:hover {
    color: #797979;
}


/* footer */

.mainFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 360px;
    background-color: #000;
    padding: 86px 212px 0px;
}

.mainFooter__linkGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 650px;
}

.mainFooter__linkGroup__column {}

.mainFooter__linkGroup__column__title {
    font-size: 16px;
    font-weight: normal;
}

.mainFooter__linkGroup__column__list {
    list-style: none;
}

.mainFooter__linkGroup__column__list a {
    text-decoration: none;
    color: #494949;
    font-size: 14px;
    transition: color 400ms;
}

.mainFooter__linkGroup__column__list__item {
    margin-top: 20px;
}

.mainFooter__linkGroup__column__list a:hover {
    color: #eee;
}

.mainFooter__socialLink {
    width: 276px;
}

.mainFooter__socialLink__title {
    font-size: 16px;
    font-weight: normal;
}

.mainFooter__socialLink__sentence {
    color: #797979;
    font-size: 14px;
    margin: 20px 0;
    line-height: 24px;
}

.mainFooter__socialLink__linkGroup>a {
    margin-right: 26px;
}

.mainFooter__socialLink__linkGroup>a>img {
    height: 16px;
}